@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span>786.360.2590</span>
    </p>

</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span><a href="mailto:elukse@yahoo.com">elukse@yahoo.com</a></span> <br />
        <span><a href="mailto:apdearmas@yahoo.com">apdearmas@yahoo.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        8250 NW South River Drive,<br />
        Medley, FL 33166
    </p>
</section>