@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin-top: 15px">
    <h1>Miami jobs finder</h1>
    <p class="lead">Miami jobs finder is an application intended to help you find a job.</p>
</div>

